{% extends "base.html" %}
{% block title %}
  Password Changed | The Elysium Archive
{% endblock title %}
{% block content %}
  <!-- Password reset success page -->
  <section class="container py-5">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-6">
        <div class="panel p-4 p-lg-5 text-center">
          <div class="mb-4">
            <i class="fa-solid fa-check-circle fa-3x text-success"></i>
          </div>
          <!-- Success actions -->
          <h1 class="h3 mb-4">Password Changed Successfully</h1>
          <p class="muted mb-4">Your password has been changed. You can now log in with your new password.</p>
          <div class="d-grid gap-2 col-md-6 mx-auto">
            <a href="{% url 'account_login' %}" class="btn btn-primary btn-icon">
              <i class="fa-solid fa-right-to-bracket"></i>Go to Login
            </a>
            <a href="{% url 'home' %}" class="btn btn-outline-light btn-icon">
              <i class="fa-solid fa-home"></i>Return to Home
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
