# DEVELOPMENT DEPENDENCIES (local only)

# Include production dependencies
-r requirements.txt

# Formatting / linting
black==26.1.0
djlint==1.36.4
flake8==7.3.0
pylint==4.0.4
isort==7.0.0

# Testing / security
pytest==9.0.2
pytest-cov==7.0.0
pytest-django==4.11.1
bandit==1.9.3

# Type checking
django-stubs[compatible-mypy]==5.2.9

# Optional formatting utilities
cssbeautifier==1.15.4
jsbeautifier==1.15.4
