# --------------------
# Django core
# --------------------
SECRET_KEY=your-secret-key
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# --------------------
# Database
# --------------------
DATABASE_URL=postgres://user:password@host:5432/dbname

# --------------------
# Stripe (test mode)
# --------------------
STRIPE_PUBLIC_KEY=pk_test_xxx
STRIPE_SECRET_KEY=sk_test_xxx
STRIPE_WH_SECRET=whsec_xxx
