##########################################
# PRODUCTION DEPENDENCIES
# Needed for the app to run on Heroku
##########################################

# Core Django web app
Django
gunicorn
whitenoise
dj-database-url
psycopg2-binary

# Admin UI
django-jazzmin

# Payments
stripe